body {
    background-color: #2B47B9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./gradient-glassmorphism-background_23-2149447863.avif);
    background-repeat: none;
    background-size: cover;
}

.login-container {
    background: rgba(255,255,255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5); /* Border transparan */
    backdrop-filter: blur(10px); /* Efek blur agar lebih estetik */
    border-radius: 10px; /* Agar sudutnya melengkung */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Bayangan halus */
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.input-group {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.input-group input {
    border: none;
    height: 40px;
    width: 300px;
}

input:focus {
    outline: none;
}

.btn {
    height: 40px;
    width: 300px;
    background-color: #2B47B9;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
